<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.oczadly.baltic.lsc.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.app.activity.AppDeleteView"
            android:exported="true" />
        <activity
            android:name=".view.app.activity.AppDetailsView"
            android:exported="true" />
        <activity
            android:name=".view.app.activity.AppEditView"
            android:exported="true" />
        <activity
            android:name=".view.app.activity.release.AppReleaseCreateView"
            android:exported="true" />
        <activity
            android:name=".view.app.activity.release.AppReleaseDeleteView"
            android:exported="true" />
        <activity
            android:name=".view.app.activity.release.AppReleaseEditView"
            android:exported="true" />
        <activity
            android:name=".view.computation.activity.ComputationTaskAbort"
            android:exported="true" />
        <activity
            android:name=".view.computation.activity.ComputationTaskAdd"
            android:exported="true" />
        <activity
            android:name=".view.computation.activity.ComputationTaskArchive"
            android:exported="true" />
        <activity
            android:name=".view.computation.activity.ComputationTaskStart"
            android:exported="true" />
        <activity
            android:name=".view.dataset.activity.form.DatasetAddForm"
            android:exported="true" />
        <activity
            android:name=".view.dataset.activity.DatasetArchive"
            android:exported="true" />
        <activity
            android:name=".view.dataset.activity.form.DatasetEditForm"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
</manifest>